[Unit]
Description=Health check service
After=network.target

[Service]
ExecStart=/root/.venv/bin/python /app/metrics_collector.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target